
version: '3'
services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
  worker:
    build: .
    command: npm run worker
    env_file:
      - .env
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
